html {
        scroll-behavior: smooth;
}
body {
    font-family: Playfair Display, sans-serif;
    margin: 0;
    background-color: #e17744f;
    color: #373432;
}

header {
    background-color: #e1774f;
    color: orange;
        min-height: 66vh;

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding-lefy: 10%;

    padding: 60px 10%;
}

.navbar {
    background-color: #1f2937;
    padding: 15px;
}


/* MENU BUTTON */

.menu-button {
    background-color: #1f4e79;
    color: white;

    border: none;
    padding: 12px 20px;

    font-size: 16px;

    border-radius: 5px;
    cursor: pointer;
}


.menu-button:hover {
    background-color: #163a5c;
}


/* HIDDEN MENU */

.menu {
    display: none;
    margin-top: 15px;
}


/* MENU LINKS */

.menu a {
    display: block;

    color: white;
    text-decoration: none;

    padding: 10px;
}


.menu a:hover {
    background-color: #374151;
}

header h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
}

section {
    margin-bottom: 60px;
}

h2 {
    border-bottom: 2px solid #222;
    padding-bottom: 10px;
}

.project {
    background-color: white;
    padding: 25px;
    margin-top: 20px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 30px;
    background-color: #222;
    color: white;
}
